{% extends 'base.html' %}

{% block title %}Autores{% endblock %}

{% block content %}
<h2 class="ui header">Autores</h2>
<a class="ui green button" href="{{ url_for('adicionar_autor') }}">Adicionar Autor</a>

<table class="ui celled table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nacionalidade</th>
            <th>Data de Nascimento</th>
            <th>Biografia</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td>{{ autor.ID_autor }}</td>
            <td>{{ autor.Nome_autor }}</td>
            <td>{{ autor.Nacionalidade }}</td>
            <td>{{ autor.Data_nascimento }}</td>
            <td>{{ autor.Biografia }}</td>
            <td>
                <a class="ui blue button" href="{{ url_for('editar_autor', id=autor.ID_autor) }}">Editar</a>
                <a class="ui red button" href="{{ url_for('excluir_autor', id=autor.ID_autor) }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
